# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PYTHON_PROJECTS\K-C-means\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
